<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Flask Admin - {{title}}</title>
		<meta name="description" content="Flask Admin with Login">
		<meta name="author" content="GeoMeteoMe">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>

	<body class="container">

		<header class="header">
			{% include 'header.html' %}
		</header>

		<main class="main">
			{% block content %}{% endblock content %}
		</main>

		<footer class="footer">
			{% include 'footer.html' %}
		</footer>



	</body>

</html>
