{% block footer %}


<div class="">
	<svg class="icon">
		<use href="{{ url_for('static', filename='sprites/socials.svg') }}#icon-twitter"></use>
	</svg>
	<svg class="icon">
		<use href="{{ url_for('static', filename='sprites/socials.svg') }}#icon-facebook"></use>
	</svg>
	<svg class="icon">
		<use href="{{ url_for('static', filename='sprites/socials.svg') }}#icon-instagram"></use>
	</svg>
	<svg class="icon">
		<use href="{{ url_for('static', filename='sprites/socials.svg') }}#icon-youtube"></use>
	</svg>
</div>


<b></b>
<div class="">
	Press | Privacy Policy | Terms of use | Cookies
	Copyright @ 2020 | YourCompany.org All rights reserved.
</div>



{% endblock footer %}
